*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://steelcase-res.cloudinary.com/image/upload/c_fill,q_auto,f_auto,h_656,w_1166/v1567243086/6130_1000.jpg");
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    margin: auto;
    width: 1120px;
}
.home-img{
    flex-wrap: wrap;
    width: 850px;
    height: 600px;
    background-size: cover;
    margin-top: 80px;
    margin: 50px;
    padding: 50px;
    padding-left: 200px;
    position: relative;
}
.left-header{
    display: flex;
   padding-left: 160px;
   margin: 10px;
   position: absolute;
   left:100px;
   top:130px;
   cursor: pointer;
}
.left-header img{
width: 50px;
height:50px;
justify-content: left;
border-radius: 50%;
}
.left-header p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 10px;
}
.left-header p:hover {
        font-size: 25px;
    }
.right-header{
display: flex;
}
.right-header p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 10px;
    margin-left: 120px;
}
.svg{
    display: flex;
    height: 58px;
    width: 58px;
    color: white;
    margin-top: 13px;
    margin-left: 170px; 
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.paragraph{
    position: absolute;
    left:260px;
    bottom:30px;
}
.paragraph p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color:burlywood;
}

.btn{
    justify-content: center;
   padding-left: 160px;
   margin: 10px;
   position: absolute;
   left:100px;
   top:200px;
   align-items: center;
    
}
.btn button{
    background-color:burlywood;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 300;
    border-radius: 14px;
    height: 50px;
    width: 150px;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
    cursor: pointer;
    margin-top: 180px;
   margin-left: 230px;
}
.btn:active{
    box-shadow: 0 0 0 white;
    margin: 6px 15px 2px 15px;
}
.watches{
    display: flex;
}
.watch-set{
    justify-content: center;
   padding-left: 160px;
   margin: 10px;
   position: absolute;
   left:320px;
   top:330px;
   align-items: center;
   display: flex;
   cursor: pointer;
}
.watch-set-images img{
    border: 1px solid black;
    width: 8%;
    height: 8%;
    gap:10px;
}
.watch-set-images img:hover{
border: 3px solid whitesmoke;
}
